body {
      position: relative;
  }

@media screen and (max-width: 810px) {
#profile, #workExperience, #skill, #educationalBackground {
    margin-left: 150px;
}

  .affix {
      top: 20px;
  }

.containerProfile {
	position: relative;
	border-left: 10px solid red;
	padding: 10px;
	width: 100%;
	height: 500px;
}

.containerWorkExp {
	position: relative;
	border-right: 10px solid red;
	padding: 10px;
	width: 100%;
	height: 500px;
}

.containerSkill {
	position: relative;
	border-left: 10px solid red;
	padding: 10px;
	width: 100%;
	height: 500px;
}

.containerEdu {
	position: relative;
	border-right: 10px solid red;
	padding: 10px;
	width: 100%;
	height: 500px;
}

#profile {color: #fff; background-color: rgb(190, 190, 190);}
#workExperience {color: #000; background-color: rgb(249, 255, 255);}
#skill {color: #fff; background-color: rgb(190, 190, 190);}
#educationalBackground {color: #000; background-color: rgb(249, 255, 255);}
