<style> 
  /*Color Paleter : Raining forest */
  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #29dba9; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #57d843; /* light Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #17dbd6; /* green */
      color: #555555;
  }
  .bg-4 { 
      background-color: #ffffff; /* white */
      color: #555555;
  }
  .bg-5 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #ffffff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  </style>